.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;

  width: 27.4375rem;
  height: 41.375rem;

  border: 1px solid #686868;
  border-radius: 8px;
}

.tittle {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: rgba(253, 215, 14, 0.2);
  padding: 0.5rem 1rem;
}

.tittle p {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1rem;
}

.tittle span {
  color: var(--orange-600);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25rem;
}

.ingredients {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.5rem 1rem;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footerText {
  padding: 0.5rem 1rem;
  background: rgba(253, 215, 14, 0.2);
  height: 3.4375rem;

  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1rem;

  color: var(--grey-700);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.3125rem;
  gap: 0.5rem;
}

.changeQuantity {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 8.75rem;
  height: 2.5rem;
  background: var(--white);
  border: 1px solid var(--orange-500);
  border-radius: 5px;
}

.changeQuantity button {
  border: none;
  background: none;
  display: flex;
  padding: 0.3rem;
  cursor: pointer;
}

.addCartButton {
  width: 13.6875rem;
  height: 2.5rem;

  background: var(--orange-500);
  border-radius: 4px;

  letter-spacing: 0.0206rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.addCartButton button {
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  color: var(--white);
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 0.625rem;
  cursor: pointer;
}

@media (max-width: 1190px) {
  .container {
    border: none;
    width: 100%;
    height: 100%;
    flex-wrap: nowrap;
    padding: 0rem 0.5rem 2rem 0.5rem;
    box-sizing: border-box;
  }

  .addCartButton,
  .changeQuantity {
    flex: 1;
    max-width: 15rem;
  }

  .title p {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1rem;
  }

  .title span {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
}
